<!DOCTYPE html>
<html>
  <head>
    <title>SearchJuice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body class="layout-top-nav">
    <div class="wrapper">
      <%= render partial: 'layouts/essentials/welcome_top_navbar' %>
      <div class="content-wrapper px-4 py-2">
        <% flash.each do |key, message| %>
          <div class="alert <%= flash_class(key) %> alert-dismissible text-center">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
